/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

header {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    background-color: white;
}

header div.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.container nav{
    grid-column: 2;
}

.container nav a{
    text-decoration: none;
    color: #6b7280;
    transition:color .2s;
}

.container nav a:hover{
    color: #5A67D8;
}

.container li{
    display: inline;
    margin-right: 20px;
}

.overview-hero-image img {
    height: 200px;
    width: 200px;
    opacity: .4;
}

.cards img{
    height: 200px;
    width: 200px;
}

.overview-hero{
    background-color: #E2E8f0;
    width: 100%;
}
.overview-hero .container{
    display: flex;
    flex-direction: row;
    align-items:center;
    background-color: #E2E8f0;
}

section.learn-about .container div.cards{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows:auto ;
    
}

section.learn-about .container .card{
    grid-row: 2;
    margin: 10px;
    padding: 20px;
    border: 1px solid #E2E8F0; /* Border color */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow */
    
}

section.learn-about h2{
    font-size: 24px;
    color: #48bb78
}

section.learn-about h3{
    font-size: 21px;
    color:#48bb78
}


section.testing{
    background-color: #4a5568;
    width: 100%;

}

section.testing .container{
    
    display: flex; 
    padding: 50px;
    flex-direction: row;
    align-items: center;
    text-align:left;
    margin-right: 120px;
    word-wrap: break-word;
    background-color: #4a5568;
    color: white
    
    
}

testing .container .testing-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.testing .container .text-content {
    flex-grow: 1; /* To make the text content grow to fill available space */
}


section.testing div.cta{
    background-color: #48bb78;
    margin-left: 60px;
}

section.testing .container .cta a.btn {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100px;
    height:50px;
}

section.stories{
    margin: 30px;
}

section.stories h2
{
    color:#5A67D8;
    font-size: 18px;
   
}

section.stories .container img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

section.stories .container article{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}

section.stories .container div.article-body{
    grid-column: 2;
}


